<div id="helppage">

<div class = "helplinks">

<div class="treetitle">
<b>User Documentation</b>
</div>


	<ul id="treemenu1" class="treeview">
		
		<a href="javascript:ddtreemenu.flatten('treemenu1', 'expand')"style="color:#6E9B2D;font-weight:bold">Expand All</a> | <a href="javascript:ddtreemenu.flatten('treemenu1', 'contact')"style="color:#6E9B2D;font-weight:bold">Collapse All</a>
			
		</br></br>

			<li><b><a href ="/helpdocs/Welcome.html" class="link_docs_lev1" target="helpdocpage">Welcome Note</a></b>
				<ul>
					<li><a href ="/helpdocs/Welcome.html" class="link_docs_lev3" target="helpdocpage">Welcome Note</a></li>
				</ul>
			</li>


		<li><b><a href ="/helpdocs/configuration.html" class="link_docs_lev1" target="helpdocpage">Initial Setup</a></b>
			<ul>
				<li><a href ="/helpdocs/configuration.html" class="link_docs_lev3" target="helpdocpage">Configuring Meters</a></li>
				<li><a href ="/helpdocs/enteringgasdata.html" class="link_docs_lev2" target="helpdocpage">Entering Energy Data</a>
					<ul>
						<li><a href ="/helpdocs/enteringgasdata.html" class="link_docs_lev3" target="helpdocpage">Enter Gas Data Manually</a></li>
						<li><a href ="/helpdocs/gasdatafileupload.html" class="link_docs_lev3" target="helpdocpage">Upload Gas Data File</a></li>
						<li><a href ="/helpdocs/gasdatafileupload.html#viewgas" class="link_docs_lev3" target="helpdocpage">View All Gas Data</a></li>
						<li><a href ="/helpdocs/enteringelectricitydata.html" class="link_docs_lev3" target="helpdocpage">Enter Electricity Data Manually</a></li>
						<li><a href ="/helpdocs/electricity_data_file_upload.html" class="link_docs_lev3" target="helpdocpage">Upload Electricity Data File</a></li>
						<li><a href ="/helpdocs/electricity_data_file_upload.html#viewelec" class="link_docs_lev3" target="helpdocpage">View All Electricity Data</a></li>	
					</ul>			
				</li>
			</ul>

				<li><b><a href ="/helpdocs/docman.html" class="link_docs_lev1" target="helpdocpage">Document Management System</a></b>
					<ul>
						<li><a href ="/helpdocs/docman.html" class="link_docs_lev3" target="helpdocpage">Upload a Document</a></li>
						<li><a href ="/helpdocs/docman.html#viewdocs" class="link_docs_lev3" target="helpdocpage">View all Documents</a></li>
					</ul>					
				</li>

				<li><b><a href ="/helpdocs/graphanalysis.html" class="link_docs_lev1" target="helpdocpage">Graph Analysis</a></b>
					<ul>
						<li><a href ="/helpdocs/Status_graphs.html" class="link_docs_lev2" target="helpdocpage">Status Graph</a>
							<ul>
								<li><a href="/helpdocs/Status_graphs.html" class="link_docs_lev3" target="helpdocpage">Main Status Graph</a></li>
								<li><a href="/helpdocs/news.html" class="link_docs_lev3" target="helpdocpage">News Feed</a></li>
								<li><a href="/helpdocs/last_logon.html" class="link_docs_lev3" target="helpdocpage">Last Login Details</a></li>
							</ul>
						</li>
						<li><a href ="/helpdocs/gastotals.html" class="link_docs_lev3" target="helpdocpage">Gas Totals Graph</a></li>
						<li><a href ="/helpdocs/electotalsgraph.html" class="link_docs_lev3" target="helpdocpage">Electricity Totals Graph</a></li>
						<li><a href ="/helpdocs/gascompgraph.html" class="link_docs_lev3" target="helpdocpage">Gas Comparisons Graph</a></li>
						<li><a href ="/helpdocs/eleccompgraph.html" class="link_docs_lev3" target="helpdocpage">Electricity Comparisons Graph</a></li>
					</ul>					
				</li>

				<li><b><a href ="/helpdocs/printemail.html" class="link_docs_lev1" target="helpdocpage">Printing and Emailing Graphs</a></b>
					<ul>
						<li><a href ="/helpdocs/printemail.html" class="link_docs_lev3" target="helpdocpage">Print/Email Graph</a></li>
					</ul>					
				</li>

				<li><b><a href ="/helpdocs/Admin.html" class="link_docs_lev1" target="helpdocpage">Administrative Functions</a></b>
					<ul>
						<li><a href ="/helpdocs/Admin.html" class="link_docs_lev3" target="helpdocpage">Manage Users</a></li>
						<li><a href ="/helpdocs/conversion.html" class="link_docs_lev3" target="helpdocpage">Conversion Factors</a></li>
						<li><a href ="/helpdocs/customconv.html" class="link_docs_lev3" target="helpdocpage">Custom Conversion Factors </a></li>
						<li><a href ="/helpdocs/activitylog.html" class="link_docs_lev3" target="helpdocpage">Activity Log</a></li>
					</ul>					
				</li>
	

	</ul>

	<script type="text/javascript">

		//ddtreemenu.createTree(treeid, enablepersist, opt_persist_in_days (default is 1))
		ddtreemenu.createTree("treemenu1", true)
		
	</script>

</div>



<iframe id="helpdocpage" src="/helpdocs/frontpage.html" name="helpdocpage">
  <p>Your browser does not support iframes.</p>
</iframe>

