public/document_uploads/*
public/electricity_uploads/*

*.DS_Store

tmp/**/*

coverage/*

log/*.log

*~

*.dat

tmp/rake_output

.idea/*

config/database.yml
script/logindb
doc/.pgpass
db/migrate/20101102192704_add_more_info_data.rb
lib/tasks/application.rake
