<p>
  <b>Name:</b>
  <%=h @meter_group.node_entry.name %>
</p>

<%= link_to 'Edit', edit_meter_group_path(@meter_group), :class => "edit_button nohover" %> |
<%= link_to 'Back', meter_groups_path, :class => "back_button nohover" %>