<div class="crc-form">

  <fieldset>
    <br/>
    <legend>Edit User Name</legend>

    <%= render :partial => "form" %>

  </fieldset>
</div>
<br/>
<%= link_to 'Show', @user, :class => "show_button nohover" %>
<%= link_to 'Back', users_path, :class => "back_button nohover" %>