<br/>
<div id = "accordion_container">
<div id="accordion_active">

<h3 class = "header"><a href="#">Average Weekday Profile</a></h3>
	<div>
		<div id = "daily_graph"></div>
	</div>

<h3 class = "header"><a href="#">Average Week Profile</a></h3>
	<div>
		<div id = "weekly_graph"></div>
	</div>


</div>
</div>
