<div id="dtabs">
  <ul>
    <li id="carbon_electricity"><a href="/carbon_detail" >Emission for Electricity</a></li>
    <li id="carbon_gas"><a href="/carbon_gas_detail" >Emission for Gas</a></li>
    <li id="carbon_mixed"><a href="/carbon_mixed_detail" >Total combined emission</a></li>
  </ul>

</div>